<h2>BestBuy Stores</h2>

<h3><%= @store_presenter.store_count %> Total Stores</h3>
<ul>
  <% @store_presenter.stores.each do |store| %>
    <div class='store'>
      <h3>Name: <%= store.name %> </h3>
      <li>City: <%= store.city %> </li>
      <li>Distance: <%= store.distance %> </li>
      <li>Phone Number: <%= store.phone_number %> </li>
      <li>Store Type: <%= store.store_type %> </li>
      <br/>
    </div>
  <% end %>
</ul>
